body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 20px;
}

.san-btn-book {
    padding-left: 5px;
    padding-right: 5px;
}

.san-btn {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.14);
}

.san-btn:hover {
    color: white;
    background-color: rgba(251, 72, 76, 0.9);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.14);
}

.san-btn:active {
    color: white;
    background-color: rgba(251, 72, 76, 0.9);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.14);
}

.san-btn:focus {
    color: white;
    background-color: rgba(251, 72, 76, 0.9);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.14);
}

.san-table {
    margin-bottom: 20px;
    table-layout: auto;
}

.san-table > tbody > tr:nth-child(even) {
    background-color: rgba(255, 0, 0, 0.01) !important;
}

#san-table-category td {
    width: 50%;
}

.san-empty-table {
    text-align: center;
}

h5 {
    display: inline-block;
}

.san-title {
    margin-bottom: 20px;
}

.san-btn-title {
    float: right;
}

#san-add-category {
    margin-right: 10px;
}

#san-bike-img {
    width: 100%;
}

#san-table-zone td:first-child {
    width: 50%;
}

#san-about {
    margin-bottom: 40px;
}

#san-blockquote {
    border-left: 5px solid #009688;
    margin: 0;
}

#san-blockquote-sign {
    font-weight: bold;
}

.line-details-td {
    text-align: center;
}

.line-details-td h6 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.line-details-td p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.line-details-td p.line-details-start {
    font-weight: bold;
}

.line-details-td i {
    color: #26a69a;
}

.zone-details-td {
    text-align: left;
}

.zone-details-td h6 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.7rem;
}

.zone-details-td p.line-details-start {
    font-weight: bold;
}

.zone-details-td i {
    color: #26a69a;
}

.zone-details-td th {
    font-size: 16px;
}

.san-disabled {
    color: #aaaaaa;
}

.san-disabled a {
    color: #cccccc !important;
}

[id^="div-editZone-"] {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

.san-small {
    font-size: 1.3rem;
    color: black;
    vertical-align: middle;
}

.san-small:hover {
    color: #26a69a;
}

.san-bold-span span {
    font-weight: bold;
}

.san-i-warning {
    color: red;
}

.san-table-stats td {
    width: 50%;
}

.chart_wrap {
    position: relative;
    padding-bottom: 20%;
    height: 0;
    overflow: hidden;
}

.chart_div {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 60%;
    height: 100%;
}

.chart_div div {
    width: 100% !important;
}

.chart_div svg {
    width: 100%;
}

.san-side-nav li > a:hover {
    color: #f5f5f5;
    background-color: rgba(251, 72, 76, 0.8);
}

.san-side-nav li > a:focus {
    color: #f5f5f5;
    background-color: rgba(251, 72, 76, 0.8);
}

.san-side-nav li > a:active {
    color: #f5f5f5;
    background-color: rgba(251, 72, 76, 0.9);
}

.san-side-nav .active {
    background-color: rgba(251, 72, 76, 1) !important;
}

.san-side-nav .active a {
    background-color: rgba(251, 72, 76, 1) !important;
    color: #f5f5f5 !important;
}

.san-list li a {
    background-color: white;
    color: black;
}

.san-list .active a {
    color: #f5f5f5;
    background-color: rgba(251, 72, 76, 1);
}

.san-list .active a:hover {
    color: #f5f5f5;
    background-color: rgba(251, 72, 76, 1);
}

.san-list .active a:focus {
    color: #f5f5f5;
    background-color: rgba(251, 72, 76, 1);
}

.san-list .active a:active {
    color: #f5f5f5;
    background-color: rgba(251, 72, 76, 1);
}

.san-list li > a:hover {
    color: #f5f5f5;
    background-color: rgba(251, 72, 76, 0.8);
}

.san-list li > a:focus {
    color: #f5f5f5;
    background-color: rgba(251, 72, 76, 0.8);
}

.san-list li > a:active {
    color: #f5f5f5;
    background-color: rgba(251, 72, 76, 0.9);
}

.san-form {
    padding-bottom: 20px;
}

.san-swipe table {
    padding-top: 20px;
    table-layout: fixed;
}

.san-tabs li a {
    color: black !important;
}

.san-tabs .indicator {
    background-color: #fb484c;
}

.san-row-tracks-info {
    margin-bottom: 10px;
}

.san-table-points {
    cursor: pointer;
}

#san-map {
    width: 100%;
    height: 400px;
}

#san-map-legend {
    width: 100%;
    text-align: center;
}

#san-map-legend ul li {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

#legend {
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 3px solid #000;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
    vertical-align: middle;
}

.icon {
    width: 40px;
    height: 40px;
}

.san-logo #san-img-logo {
    height: 64px;
}

.san-logo #san-img-text {
    width: 50%;
    vertical-align: 25%;
}

.san-navbar {
    background-color: white !important;
    box-shadow: 0 2px 2px 0 rgba(251, 72, 76, 0.2), 0 1px 5px 0 rgba(251, 72, 76, 0.22), 0 3px 1px -2px rgba(251, 72, 76, 0.4);
}

.san-navbar a {
    color: #fb484c;
}

.san-footer {
    background-color: #fb484c !important;
}

input:not(.invalid):focus {
    border-bottom: 1px solid #c7cdc4 !important;
}

input:focus + label {
    color: #fb484c !important;
}

ul.dropdown-content.select-dropdown li span {
    color: rgba(210, 31, 35, 1);
}
